.MainPicture {
  height: 90vh;
  background-image: url("../../assets/homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: right;

  &__saveTheDate {
    font-family: "Allura-Regular";
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
  }

  &__title {
    font-size: 80px;
    @media (max-width: 700px) {
      font-size: 50px;
    }
  }

  &__titleWord {
    margin-bottom: -25px;
  }

  &__date {
    font-size: 25px;
    margin-top: 25px;
    font-weight: bold;
    @media (max-width: 700px) {
      font-size: 25px;
      margin-top: 15px;
    }
  }

  &__break {
    display: none;
    @media (max-width: 700px) {
      display: block;
    }
  }
}
